body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: #6D4C41;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.personal-area {
    display: flex;
    align-items: center;
    gap: 24px;
}

input {
    padding: 14px;
    border-radius: 10px;
    border: none;
}

.logo {
    width: 200px;
    height: 70px;
}

.user {
    width: 25px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: gray;
}

.user-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

p {
    margin: 0px;
    color: gray;
}

.header-bottom {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.header-bottom a {
    font-size: 18px;
    font-weight: 700;
}

.header-bottom a:hover {
    color: #FFA500;
}

.hidden-box {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 115%;
    left: -40%;
    transform: translateX(-50%);
    background: white;
    border: 2px solid gray;
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 10;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.user-area:hover .hidden-box,
.hidden-box:hover {
    opacity: 1;
    visibility: visible;
}

.account {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
}

.account a {
    font-size: 18px;
    font-weight: 500;
}

#login {
    border: 1px solid #FFA500;
    padding: 4px 8px;
    background-color: #FFA500;
    border-radius: 8px;
    margin-bottom: 10px;
}

#login:hover {
    color: white;
}

#logout {
    border: 1px solid #6D4C41;
    padding: 4px 8px;
    background-color: #6D4C41;
    border-radius: 8px;
    color: white;
}

#logout:hover {
    background-color: #a3705e;
    border: 1px solid #a3705e;
}

#cart-count {
    font-size: 18px;
}

.store-logo {
    margin-top: 40px;
}

.store-content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.store-content img {
    width: 400px;
    height: 370px;
}

.store-content p {
    color: black;
    font-size: 30px;
    letter-spacing: 4px;
}

.contact {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 70px 0px 20px;
}

.contact a {
    font-size: 18px;
    color: black;
}

.contact a:hover {
    color: #FFA500;
}

h4 {
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: column;
}

.about p {
    font-size: 18px;
    color: black;
}

footer {
    background-color: #2A2A2A;
    margin-top: 40px;
    padding: 30px;
}

.footer-about {
    max-width: 1000px;
    margin: auto;
}

.footer-about p {
    font-size: 18px;
    text-align: center;
}