.mySlides {
    display: none
}

img {
    vertical-align: middle;
    border-radius: 12px;
}

.home-content {
    padding-top: 40px;
}

/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

#productModal {
    display: none;
    /* sayt açılanda gizli olsun */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

/* books */
.container {
    max-width: 900px;
    position: relative;
    margin: auto;
    margin-top: 40px;
}

h2 {
    margin: 10px;
    font-size: 20px;
}

#prev,
#next {
    color: black;
    width: 30px;
    height: 100px;
    border-radius: 12px;
    background-color: #6D4C41;
    top: 35%;
    z-index: 3;
}

#prev {
    position: absolute;
    left: -50px;
}

#next {
    position: absolute;
    right: -50px;
}

#prev:hover {
    background-color: #FFA500;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

#next:hover {
    background-color: #FFA500;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

#books-container {
    max-height: 1000px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.book {
    width: 160px;
    /* Eyni genişlik */
    height: 340px;
    /* Eyni hündürlük */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* Elementlər arasında düzgün məsafə saxlayır */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.book span {
    font-size: 12px;
    margin-bottom: 8px;
}

.book p {
    margin-bottom: 8px;
}

h3,
.book p,
.book span {
    display: block;
    text-align: center;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book img {
    width: 140px;
    height: 200px;
    object-fit: cover;
    /* Şəkillərin deformasiya olmamasını təmin edir */
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    font-size: 12px;
}

.book p {
    font-size: 12px;
}

span {
    font-size: 10px;
    font-weight: 700;
}

button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

button:hover {
    color: #FFA500;
}


/* Banner-area */

.main-content {
    max-width: 1000px;
    margin: auto;
}

.small-banner {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 500px;
}

/* Author-area */

.author-area {
    margin-top: 40px;
}

.author-content {
    display: flex;
    gap: 40px;
}

.left-content img {
    width: 270px;
    height: 370px;
    object-fit: cover;
}

.right-content p {
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}

/* --- Responsivlik --- */

@media screen and (max-width: 1100px) {
    nav {
        display: flex !important;
        gap: 20px !important;
        padding: 0 16px;
    }

    .header-bottom {
        flex-direction: column;
        gap: 20px !important;
        margin-bottom: 30px;
    }

    .home-content {
        padding: 0 16px;
    }

    .container {
        padding: 0 16px;
    }

    .store-content {
        flex-direction: column;
        text-align: center;
    }

    .store-content img {
        width: 80%;
        height: auto;
    }

    .contact {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .contact a {
        font-size: 16px;
    }

    .small-banner {
        display: flex;
        flex-direction: column;
        gap: 20px !important;
        width: 100%;
    }

    .small-banner img {
        width: 100%;
    }

    .main-content {
        padding: 0 16px;
    }

}


@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 20px !important;
    }

    .header-bottom {
        flex-direction: column;
        gap: 20px !important;
        margin-bottom: 15px;
    }

    .home-content {
        padding: 0 16px;
    }

    .container {
        padding: 0 16px;
    }

    .store-content img {
        width: 100%;
        height: auto;
    }

    .book {
        width: 100%;
    }

    .book img {
        width: 120px;
        height: 180px;
    }

    .contact {
        flex-direction: column;
        text-align: center;
    }

    .author-content {
        flex-direction: column;
        text-align: center;
    }

    .left-content img {
        width: 100%;
        height: auto;
    }

    .right-content p {
        font-size: 18px;
    }

    .small-banner {
        display: flex;
        flex-direction: column;
        gap: 20px !important;
        width: 100%;
    }

    .small-banner img {
        width: 100%;
    }

    .main-content {
        padding: 0 16px;
    }

    .contact a {
        font-size: 16px !important;
    }

}

@media screen and (max-width: 480px) {
    .logo {
        width: 140px;
        height: auto;
    }

    input {
        width: 90%;
    }

    .container {
        padding: 0 16px;
    }

    .header-bottom {
        margin-bottom: 15px;
    }

    .header-bottom a {
        font-size: 14px;
    }

    .home-content {
        padding: 0 16px;
    }

    .book img {
        width: 100px;
        height: 150px;
    }

    .store-content img {
        width: 100%;
    }

    .contact {
        gap: 10px;
    }

    .small-banner {
        display: flex;
        flex-direction: column;
        gap: 20px !important;
        width: 100%;
    }

    .small-banner img {
        width: 100%;
    }

    .main-content {
        padding: 0 16px;
    }

    .prev,
    .next {
        width: 35px;
        height: 35px;
        font-size: 12px;
        background: rgba(0, 0, 0, 0.7);
    }

    .contact a {
        font-size: 16px !important;
    }
}