@import "mainLink.css";

/* slide 1 */
.container,
.container_2 {
    max-width: 900px;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

h2 {
    margin: 10px;
    font-size: 20px;
}

#prev,
#next,
#prev_2,
#next_2 {
    color: black;
    font-size: 22px;
    top: 35%;
    z-index: 3;
    cursor: pointer;
    border: none;
}

#prev,
#prev_2 {
    position: absolute;
    left: -50px;
}

#next,
#next_2 {
    position: absolute;
    right: -50px;
}

#prev:hover,
#prev_2:hover {
    color: #FFA500;
    transition: background-color 0.3s ease-in-out;
}

#next:hover,
#next_2:hover {
    color: #FFA500;
    transition: background-color 0.3s ease-in-out;
}

#books-container,
#books-container_2 {
    max-height: 1000px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.add-to-cart,
.goToCart,
.continueShopping,
.goToCart2,
.continueShopping2 {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.book,
.book_2 {
    width: 190px;
    /* Eyni genişlik */
    height: 390px;
    /* Eyni hündürlük */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* Elementlər arasında düzgün məsafə saxlayır */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.book span,
.book_2 span {
    font-size: 12px;
    margin-bottom: 8px;
}

.book p,
.book_2 p {
    margin-bottom: 8px;
}

h3,
.book p,
.book span,
.book_2 p,
.book_2 span {
    display: block;
    text-align: center;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book img,
.book_2 img {
    width: 160px;
    height: 240px;
    object-fit: cover;
    /* Şəkillərin deformasiya olmamasını təmin edir */
    border-radius: 5px;
    cursor: pointer;
}

.book img:hover,
.book_2 img:hover {
    transform: scale(1.07);
    transition: transform 0.5s;
}

h3 {
    font-size: 12px;
}

.book p,
.book_2 p {
    font-size: 12px;
}

span {
    font-size: 10px;
    font-weight: 700;
}

.add-to-cart {
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: gray;
    background-color: white;
}

.add-to-cart:hover {
    color: #FFA500;
}

/* Banner-area */

.main-content {
    max-width: 1000px;
    margin: auto;
}

.small-banner {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 500px;
}

/* Author-area */

.author-area {
    margin-top: 40px;
}

.author-content {
    display: flex;
    gap: 40px;
}

.left-content img {
    width: 270px;
    height: 370px;
    object-fit: cover;
}

.right-content p {
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}

/* --- Responsivlik --- */

@media screen and (max-width: 1100px) {
    .menu-button {
        display: block !important;
    }

    nav a , .user-area{
        display: none !important;
    }

    nav {
        gap: 60px !important;
    }

    .home-content {
        padding: 40px 16px 0 16px;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 18px;
    }

    .modalItems p,
    button {
        font-size: 14px;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 60%;
        display: flex;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
        position: relative;
    }

    .modal img {
        width: 130px;
        height: auto;
        margin-bottom: 10px;
    }

    .container,
    .container_2 {
        max-width: 700px;
        margin: auto;
        margin-top: 40px;
        padding: 0 16px;
    }

    .store-content {
        flex-direction: column;
        text-align: center;
    }

    .store-content img {
        width: 80%;
        height: auto;
    }

    .contact {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .contact a {
        font-size: 16px;
    }

    .small-banner {
        display: flex;
        flex-direction: column;
        gap: 20px !important;
        width: 100%;
    }

    .small-banner img {
        width: 750px;
        object-fit: cover;
    }

    .main-content {
        padding: 0 16px;
    }

}

@media screen and (max-width: 768px) {
    .home-content {
        padding: 40px 16px 0 16px;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 16px;
    }

    .modalItems p,
    button {
        font-size: 14px;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 80%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        position: relative;
    }

    .modal img {
        width: 110px;
        height: auto;
        margin-bottom: 10px;
    }

    .container {
        padding: 0 16px;
    }

    .store-content img {
        width: 100%;
        height: auto;
    }

    #books-container {
        max-height: 500px !important;
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .book {
        width: 100%;
    }

    .container,
    .container_2 {
        max-width: 400px;
        margin: auto;
        margin-top: 40px;
    }

    .contact {
        flex-direction: column;
        text-align: center;
    }

    .author-content {
        flex-direction: column;
        text-align: center;
    }

    .left-content img {
        width: 100%;
        height: auto;
    }

    .right-content p {
        font-size: 18px;
    }

    .small-banner {
        display: flex;
        flex-direction: column;
        gap: 20px !important;
        width: 100%;
    }

    .author-content img {
        width: 500px;
    }

    .small-banner img {
        width: 100%;
    }

    .main-content {
        padding: 0 16px;
    }

    .contact a {
        font-size: 16px !important;
    }

}

@media screen and (max-width: 480px) {
    input {
        width: 70%;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 14px;
    }

    .modalItems p,
    button {
        font-size: 12px;
        font-weight: 600;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 95%;
        display: flex;
        align-items: center;
        padding-right: 10px;
        justify-content: space-between;
        position: relative;
    }

    .modal img {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    .container,
    .container_2 {
        max-width: 210px;
        margin: auto;
        margin-top: 40px;
        padding: 0 16px;
    }

    .header-bottom {
        margin-bottom: 15px;
    }

    .header-bottom a {
        font-size: 14px;
    }

    .home-content {
        padding: 40px 16px 0 16px;
    }

    .author-content img {
        width: 250px;
    }

    .store-content img {
        width: 100%;
    }

    .contact {
        gap: 10px;
    }

    .small-banner {
        display: flex;
        flex-direction: column;
        gap: 20px !important;
        width: 100%;
    }

    .small-banner img {
        width: 100%;
    }

    .main-content {
        padding: 0 16px;
    }

    .contact a {
        font-size: 16px !important;
    }
}