@import "yenilerLink.css";

/* slider */
.container,
.container_2 {
    max-width: 1000px;
    margin: auto;
}

#prev {
    display: none;
}

#next {
    display: none;
}

#books-container,
#books-container_2 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book,
.book_2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    min-height: 450px;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 16px;
}

.book h3,
.book_2 h3 {
    font-size: 18px;
    min-height: 50px;
    margin-bottom: 0;
    overflow: hidden;
}

.book span,
.book_2 span {
    font-weight: 600;
}

.book p,
.book_2 p {
    min-height: 40px;
    overflow: hidden;
}

.book button {
    margin-top: auto;
}

.add-to-cart,
.goToCart,
.continueShopping,
.goToCart2,
.continueShopping2 {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.book img,
.book_2 img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 170px;
    height: 270px !important;
    cursor: pointer;
}

.book img:hover,
.book_2 img:hover {
    transform: scale(1.03);
    transition: transform 0.5s;
}

.book button:hover {
    color: #FFA500;
}

.store-logo {
    max-width: 1000px;
    margin: auto;
}

button:hover {
    color: #FFA500;
    transition: color 0.6s ease;
}

.contact {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.contact a {
    font-size: 18px;
    color: black;
}

.contact a:hover {
    color: #FFA500;
}


h4 {
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: column;
}

.about p {
    font-size: 18px;
    color: black;
}

footer {
    background-color: #2A2A2A;
    margin-top: 40px;
    padding: 30px;
}

.footer-about {
    max-width: 1000px;
    margin: auto;
}

.footer-about p {
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .menu-button {
        display: block !important;
    }

    nav .logo,
    .personal-area {
        display: none !important;
    }

    nav {
        height: 70px;
        gap: 0 !important;
    }

    .header-bottom {
        display: none !important;
    }

    .home-content {
        padding: 40px 16px 0 16px;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 18px;
    }

    .modalItems p,
    button {
        font-size: 14px;
    }

    .modal-content,
    .modal-content3 {
        width: 60%;
    }

    .modal img {
        width: 130px;
        height: auto;
        margin-bottom: 10px;
    }

    .container,
    .container_2 {
        padding: 0 16px;
    }

    .contact {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: 70px;
    }

    .home-content {
        padding: 40px 16px 0 16px;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 16px;
    }

    .modalItems p,
    button {
        font-size: 14px;
    }

    .modal-content,
    .modal-content3 {
        width: 80%;
    }

    .modal img {
        width: 110px;
        height: auto;
        margin-bottom: 10px;
    }

    .container,
    .container_2 {
        padding: 0 16px;
    }

    .store-content img {
        width: 100%;
        height: auto;
    }

    .book {
        width: 100%;
        gap: 10px;
    }

    #books-container,
    #books-container_2 {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        align-items: stretch;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .book img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 150px;
        height: auto;
    }

    .book h3 {
        margin-top: 10px;
    }

    .contact {
        flex-direction: column;
        text-align: center;
    }

    .contact a {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 480px) {
    input {
        width: 70%;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 14px;
    }

    .modalItems p,
    button {
        font-size: 12px;
        font-weight: 600;
    }

    .modal-content,
    .modal-content3 {
        width: 95%;
    }

    .modal img {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    #books-container,
    #books-container_2 {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .book img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 150px;
        height: auto;
    }

    .contact {
        gap: 10px;
        padding: 0 16px !important;
    }

    .contact a {
        font-size: 16px !important;
    }
}