@import "yenilerLink.css";

/* slider */
.container,
.container_2,
.container_3 {
    max-width: 1100px;
    margin: auto;
}

#prev {
    display: none;
}

#next {
    display: none;
}

#books-container,
#books-container_2,
#books-container_3 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    margin-top: 50px;
    font-size: 20px;
}

.book,
.book_2,
.book_3 {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 430px;
    gap: 8px;
    padding: 15px 10px;
    box-shadow: 6px 8px 15px 1px rgba(52, 73, 94, 0.86);
}

.book h3,
.book_2 h3,
.book_3 h3 {
    font-size: 15px;
    margin: 0;
    overflow: hidden;
}

.book span,
.book_2 span,
.book_3 span {
    font-weight: 600;
}

.book p,
.book_2 p,
.book_3 p {
    overflow: hidden;
    font-size: 14px;
}

.book button {
    margin-top: auto;
}

.book img,
.book_2 img,
.book_3 img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 170px;
    height: 230px;
    cursor: pointer;
}

.book img:hover,
.book_2 img:hover,
.book_3 img:hover {
    transform: scale(1.03);
    transition: transform 0.5s;
}

.store-logo {
    max-width: 1000px;
    margin: auto;
}

.contact {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.contact a {
    font-size: 18px;
    color: black;
}

.contact a:hover {
    color: #FFA500;
}


h4 {
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: column;
}

.about p {
    font-size: 18px;
    color: black;
}

footer {
    background-color: #2A2A2A;
    margin-top: 40px;
    padding: 30px;
}

.footer-about {
    max-width: 1000px;
    margin: auto;
}

.footer-about p {
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .menu-button {
        display: block !important;
    }

    nav a,
    .user-area {
        display: none !important;
    }

    .home-content {
        padding: 40px 16px 0 16px;
    }

    .search-input {
        padding: 0 16px;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 18px;
    }

    .modalItems p,
    button {
        font-size: 14px;
    }

    .modal-content,
    .modal-content3 {
        width: 60%;
    }

    .modal img {
        width: 130px;
        height: auto;
        margin-bottom: 10px;
    }

    .filter {
        gap: 25px !important;
    }

    #books-container,
    #books-container_2,
    #books-container_3 {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        align-items: stretch;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .book,
    .book_2,
    .book_3 {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 430px;
        gap: 8px;
        padding: 15px 10px;
        box-shadow: 6px 8px 15px 1px rgba(52, 73, 94, 0.86);
    }

    .container,
    .container_2,
    .container_3 {
        padding: 0 16px;
    }

    .contact {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: 70px;
    }

    .home-content {
        padding: 40px 16px 0 16px;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 16px;
    }

    .modalItems p,
    button {
        font-size: 14px;
    }

    .modal-content,
    .modal-content3 {
        width: 80%;
    }

    .modal img {
        width: 110px;
        height: auto;
        margin-bottom: 10px;
    }

    .container,
    .container_2,
    .container_3 {
        padding: 0 16px;
    }

    .store-content img {
        width: 100%;
        height: auto;
    }

    #books-container,
    #books-container_2,
    #books-container_3 {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        align-items: stretch;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .book img,
    .book_2 img,
    .book_3 img {
        width: 100%;
        max-width: 170px;
        height: 230px;
    }

    .filter {
        display: grid !important;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 15px !important;
        align-items: stretch;
        justify-content: center;
        align-items: center;
    }

    .contact {
        flex-direction: column;
        text-align: center;
    }

    .contact a {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 480px) {
    input {
        width: 70%;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 14px;
    }

    .modalItems p,
    button {
        font-size: 12px;
        font-weight: 600;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 95%;
        display: flex;
        align-items: center;
        padding-right: 10px;
        justify-content: space-between;
        position: relative;
    }

    .modal-content3 {
        width: 95%;
    }

    .modal img {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    #modalImg2 {
        width: 300px !important;
        height: 180px !important;
    }

    .modal-content3 {
        width: 400px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
        gap: 40px;
    }

    #modalTitle2 {
        margin-bottom: 12px;
    }

    #books-container,
    #books-container_2,
    #books-container_3 {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .book img,
    .book_2 img,
    .book_3 img {
        width: 100%;
        max-width: 170px;
        height: 230px;
    }

    .filter {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px !important;
        align-items: stretch;
        justify-content: center;
        align-items: center;
    }

    .store-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .store-content p {
        font-size: 20px;
    }

    .contact {
        gap: 10px;
        padding: 0 16px !important;
    }

    .contact a {
        font-size: 16px !important;
    }
}