.mySlides {
    display: none
}

img {
    vertical-align: middle;
    border-radius: 12px;
}

.home-content {
    padding-top: 40px;
}

/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


#productModal {
    display: none;
    /* sayt açılanda gizli olsun */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

button:hover {
    color: #FFA500;
}

/* api melumatlar */

.container {
    max-width: 1000px;
    margin: auto;
}

#prev {
    display: none;
}

#next {
    display: none;
}

#books-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    min-height: 450px;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 16px;
}

.book h3 {
    font-size: 18px;
    min-height: 50px;
    margin-bottom: 0;
    overflow: hidden;
}

.book span {
    font-weight: 600;
}

.book p {
    min-height: 40px;
    overflow: hidden;
}

.book button {
    margin-top: auto;
    /* Button həmişə aşağıda olsun */
}

.book img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 170px;
    height: 270px !important;
    cursor: pointer;
}

.book img:hover {
    transform: scale(1.03);
    transition: transform 0.5s;
}

.book button:hover {
    color: #FFA500;
}

.store-logo {
    max-width: 1000px;
    margin: auto;
}

button:hover {
    color: #FFA500;
    transition: color 0.6s ease;
}

#imageModal {
    display: none;
    /* Başlanğıcda gizlidir */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    /* Arxa fon tünd */
    justify-content: center;
    align-items: center;
}

/* Modal kontenti */
.modal-content2 {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    position: relative;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

/* Şəklin ölçüsü */
.modal-content2 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Başlıq və müəllif */
.modalItems h3 {
    font-size: 20px;
    margin-bottom: 10px;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    word-break: break-word;
}

.modalItems p {
    font-size: 16px;
    color: #555;
}

.close2 {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

#productModal {
    display: none;
    /* sayt açılanda gizli olsun */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalItems {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: space-between;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.contact {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.contact a {
    font-size: 18px;
    color: black;
}

.contact a:hover {
    color: #FFA500;
}


h4 {
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: column;
}

.about p {
    font-size: 18px;
    color: black;
}

footer {
    background-color: #2A2A2A;
    margin-top: 40px;
    padding: 30px;
}

.footer-about {
    max-width: 1000px;
    margin: auto;
}

.footer-about p {
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .menu-button {
        display: block !important;
    }

    nav .logo,
    .personal-area {
        display: none !important;
    }

    nav {
        height: 70px;
        gap: 0 !important;
    }

    .header-bottom {
        display: none !important;
    }

    .home-content {
        padding: 40px 16px 0 16px;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 18px;
    }

    .modalItems p,
    button {
        font-size: 14px;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 60%;
        display: flex;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
        position: relative;
    }

    .modal img {
        width: 130px;
        height: auto;
        margin-bottom: 10px;
    }

    .container {
        padding: 0 16px;
    }

    .contact {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: 70px;
    }

    .home-content {
        padding: 40px 16px 0 16px;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 16px;
    }

    .modalItems p,
    button {
        font-size: 14px;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 80%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        position: relative;
    }

    .modal img {
        width: 110px;
        height: auto;
        margin-bottom: 10px;
    }

    .container {
        padding: 0 16px;
    }


    .store-content img {
        width: 100%;
        height: auto;
    }

    .book {
        width: 100%;
        gap: 10px;
    }

    #books-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        align-items: stretch;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .book img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 150px;
        height: auto;
    }

    .book h3 {
        margin-top: 10px;
    }

    .contact {
        flex-direction: column;
        text-align: center;
    }

    .contact a {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 480px) {
    input {
        width: 70%;
    }

    .modalItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .modalItems h3 {
        font-size: 14px;
    }

    .modalItems p,
    button {
        font-size: 12px;
        font-weight: 600;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 95%;
        display: flex;
        align-items: center;
        padding-right: 10px;
        justify-content: space-between;
        position: relative;
    }

    .modal img {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    #books-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .book img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 150px;
        height: auto;
    }

    .contact {
        gap: 10px;
        padding: 0 16px !important;
    }

    .contact a {
        font-size: 16px !important;
    }
}